﻿@{
    ViewData["Title"] = "Gestion des autorisations";
}

<h2>Gestion des autorisations pour ModernRecrut</h2>

<p>
    <a href="@Url.Action("Index", "Roles")">Gérer les rôles</a>
</p>
<p>
    <a href="@Url.Action("Index", "RolesUtilisateurs")">Gérer les rôles des utilisateurs</a>
</p>
