@model ModernRecrut.MVC.Models.Postulation

@{
    ViewData["Title"] = "Edit";
}

<h1>Modification de la postulation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div style="font-weight:bold;font-size:large">@Html.DisplayNameFor(model => model.Id) : @Html.DisplayFor(model => model.Id)</div>
            </div>
            <div class="form-group">
                <label asp-for="DateDisponibilite" class="control-label"></label>
                <input asp-for="DateDisponibilite" class="form-control" />
                <span asp-validation-for="DateDisponibilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PretentionSalariale" class="control-label"></label>
                <input asp-for="PretentionSalariale" class="form-control" />
                <span asp-validation-for="PretentionSalariale" class="text-danger"></span>
            </div>
            <input asp-for="CandidatID" class="form-control" hidden />
            <input asp-for="OffreEmploiID" class="form-control" hidden />
            </br>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retourner à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
