@* @model IEnumerable<ModernRecrut.MVC.Models.FichierDetails> *@
@model IEnumerable<string>
@inject ModernRecrut.MVC.Interfaces.IPostulationsService postulationsService
@using System.Security.Claims;
@{
    ViewData["Title"] = "Mes documents";
}

<h1>Mes documents</h1>

<p>
    <a asp-action="Create">Ajouter un document</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nom du document
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Split(":")[0]
                </td>
                @if (item.Contains("CV"))
                {
                    <td>
                        CV
                    </td>
                }
                else if (item.Contains("DIPLÔME"))
                {
                    <td>
                        Diplôme
                    </td>
                }
                else
                {
                    <td>
                        Lettre de Motivation
                    </td>
                }
                <td>
                    @Html.ActionLink("Consulter", "Details", new { nomFichier = item   },new { target = "_blank" })
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Documents", FormMethod.Post))
                    {
                        @Html.Hidden("nomFichier", item)
                        var postulations = await postulationsService.ObtenirPostulations();
                        var candidatID = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        <button type="submit" @(postulations.Any(p=>p.CandidatID.ToString()==candidatID && p.DateDisponibilite > DateTime.Now) ? "disabled" : "") >
                            <span style="font-size:17px;">&#10060;</span>
                        </button>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
