@{
    ViewData["Title"] = "Accueil";
}

<style>
    .card-img-top {
        max-width: 500px;
        max-height: 350px;
        display: block;
        margin: 0 auto;
    }
</style>

<div class="text-center">
    <h2 class="display-4">Bienvenue sur le site de ModernRecrut</h2>
    <h3>Votre site pour trouver une carrière</h3>
    <p>
        Créé par Diego, Akrem et Alexandria, nous nous sommes depuis consacrés à rendre votre recherche de carrière plus facile que jamais.
    </p>
</div>
<div>
    <img class="card-img-top" src="/images/businessCats.jpeg" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Miau miau miau">
</div>
